$main-bg: #fef5ef;
$main-color: #24262b;
$second-color: #b19361;

$txt-main-color: #777;
$txt-second-color: #9b9b97;
$txt-white-color: #fff;

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "green": green,
    "pink": #fe7e73,
    "white": #fff,
    "black": #24262b,
    "red": #ff0000,
    "yellow": #fafa06,
);

$header-height: 80px;
$breadcrumb-height: 326px;

$product-card-width: 330px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;

$section-container: 1440px;

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
