.sidebar {
    &__item ~ &__item {
        margin-top: 20px;
    }

    &__item {
        margin-bottom: 40px;

        &__title {
            font-size: 18px;
            color: $main-color;
            text-transform: uppercase;
            font-weight: 700;
            padding-bottom: 1.5rem;
            margin-bottom: 3rem;
            border-bottom: 2px solid #dee2e6;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -1.5px;
                left: 0;
                height: 3px;
                width: 6rem;
                background-color: $second-color;
            }
        }
    }

    &__category {
        li {
            line-height: 1.75;
            margin-bottom: 1.4rem;
            a {
                font-weight: 700;
                color: $main-color;
                transition: 0.3s ease;
                &:hover {
                    color: $second-color;
                }
            }
        }
    }

    &__checkbox {
        &__item ~ &__item {
            margin-top: 1rem;
        }
    }

    &__tags {
        a {
            margin-bottom: 1rem;
            margin-right: 1rem;
        }
    }
    &__banner {
        overflow: hidden;
        margin: 0 auto;
        img {
            transition: 0.5s ease-in-out;
            width: 100%;
        }
        &:hover img {
            transform: scale(1.1);
        }
    }
}
