.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    z-index: 9999;
    animation: toLeft 0.5s ease forwards;

    @include tablet {
        width: 300px;
    }
}

@keyframes toLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
